header{
    text-decoration: wavy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px black solid;
}

nav{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 25px;
}

nav{
    text-decoration: wavy;
    color: rgb(20, 1, 1);
    padding: 7px;
}